<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <header>
      <div class="profile">
      <nav>
        <div class="logo"><h1 class='animate__animated animate__heartBeat'>MNNIT Allahabad</h1></div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="#">Team</a>
            <a href="/contact">Contact</a>
            {{#if user}}
              {{#if user.Admin}}
            <a href="/admin">ADMIN</a>
            {{else}}{{#if user.abassador}}
            <a href="/campus">Campus Amb</a>
             {{else}}
             <a href="/user">User</a>
            {{/if}} {{/if}}
        {{/if}}
            
            {{#if user}}
            <form action="/logout" method="post">
          <li class="pt-2"></li><button type="submit">Logout</button></li>
        </form>
             {{else}}
            <a href="/login">Login</a>
            {{!-- {{#else}}
            <a href="/login">Login</a> --}}
            {{/if}}
        </div>
        </nav>
        <main>
          <section>
            <h1>Welcome {{user.name}}</h1>
            <h2>Your college: {{user.CollegeName}}</h2>
            <form action="/user" method="POST">
            <div class="campusbutton" >

                 <li class="pt-2"></li><button type="submit">Do you want to be a campus ambassador?</button></li>
              </form>              
            </div>
          </section>
        </main>
      </div>
    </header>
  </body>
  <script type="text/javascript" src="js/index.js"></script>
</html>
